<!DOCTYPE html>
<html>
  <head>
    <title>Discover</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/cloud.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
