<!DOCTYPE html>
<html>
  <head>
    <title>Discover</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/cloud.png">
    <script src="https://kit.fontawesome.com/fc94059c0f.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Discover" />
     <meta property='og:image' content="<%= image_url('discover_screenshot.png') %>"/>
     <meta property="og:description"
       content="Discover is a pixel-perfect Soundcloud Clone built with React on Rails"
     />
     <meta property="og:url"
       content="https://discover-aa.herokuapp.com/"
     />



  </head>

  <body>
    <%= yield %>
  </body>
</html>
